## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [22]:
import os
import numpy as np
import pandas as pd

In [23]:
# 設定 data_path
dir_data = './data/'

In [24]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [29]:
df.shape

(10, 4)

#### 列出所有欄位

In [30]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

#### 截取部分資料

In [34]:
df.head(6)

          A         B         C         D
0 -0.252814  2.309618 -0.551361  0.651801
1 -0.689775  1.482267 -1.602190 -0.406633
2 -1.260014  2.028939  0.229982 -1.253639
3 -1.976950  0.026190  0.340019 -1.777203
4 -2.013497  0.363018  0.611248  0.881526
5 -0.067495  1.230200  0.363120 -1.596033

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子